<%- include('partials/header') -%>

<div class="container" data-scroll>
  <h1 class="text-center mt-3">
    <strong style="text-decoration: underline">About Us</strong>
  </h1>
  <br />
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p>
        Sumitra Travels is a Travel Agency owned by Santu Mondal from 2016.
        Here, in Sumitra Travels you can Rent Cars with Affordable Rental Price.
        Also you can find here various Cars as your Requirement. We Provode Cars
        for Marriages, Travels and many more..
      </p>
      <h5>
        Currently we are available to Travel
        <Strong>All Over The India</Strong> With You.
      </h5>
      <h4>
        Let's have a Look to The
        <a class="btn btn-outline-warning" href="/#content"
          ><i class="fas fa-car fa-2x"></i
        ></a>
      </h4>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<%- include('partials/footer') -%>
