<%- include('partials/header') -%>
<div class="hero-heading">
  <a href=""
    ><i class="fab fa-facebook-f animate__animated animate__backInLeft"></i
  ></a>
  <a href=""
    ><i class="fab fa-instagram animate__animated animate__backInUp"></i
  ></a>
  <a href=""
    ><i class="fab fa-twitter animate__animated animate__backInRight"></i
  ></a>
</div>

<div class="contents" data-scroll>
  <div class="container">
    <h1 class="text-center mt-3">
      <strong style="text-decoration: underline">Contact Us</strong>
    </h1>
    <br />
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h3>
          <strong>
            The Easiest way to Connect with Us is By Making a Ping on WhatsApp
            or a simple Phone Call to
            <span style="text-decoration: underline">7063789166</span>.
          </strong>
        </h3>
        <h5>
          Also, you can directly contact with us by Reaching out to our office,
          located at:
          <Strong
            >Bolpur, Birbhum (West Bengal), Rabindra Pally, Bypass Road, Near
            Anup Hardware, Pin: 731204</Strong
          >
        </h5>
        <br />
        <h4>
          <Strong
            >You can write us on:
            <a
              style="text-decoration: underline"
              href="mailto:admin.sumitratravels.in"
              >admin.sumitratravels.in</a
            ></Strong
          >
        </h4>
        <br />
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
