html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #005aa7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #fffde4,
    #005aa7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #fffde4,
    #005aa7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/images/hero4.jpg") no-repeat 50% 50%;
  border-radius: 0 0 10px 10px;
  background-size: cover;
  z-index: 1;
}

.hero-heading {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  position: absolute;
  z-index: 2;
}
.diff {
  color: #00d84a;
  background-color: #000;
  opacity: 0.8;
}
.fa-facebook {
  color: #4f75c7;
}
.fa-twitter {
  color: #00acee;
}
.fa-instagram {
  color: #ff6f91;
}
.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}
/* 
.contents {
  background: #005aa7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #fffde4,
    #005aa7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #fffde4,
    #005aa7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
} */

.card-body {
  background-image: -webkit-linear-gradient(57deg, #8fbaee 50%, #e4e9fd 50%);
}

footer {
  background: #005aa7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #fffde4,
    #005aa7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fffde4, #005aa7);
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #fff;
  border-radius: 10px;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.logo {
  line-height: 60px;
  position: absolute;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

.login {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/images/auth.svg") no-repeat 50% 50%;
  background-size: cover;
}

nav {
  position: absolute;
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media (max-width: 786px) {
  .logo {
    position: absolute;
    top: 0;
    margin-top: 16px;
  }

  /* header {
    position: as;
    left: 0px;
    top: 0px;
    z-index: 1;
  } */

  .hero-heading {
    font-size: 2.2rem;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 34em;
    position: relative;

    z-index: 3;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
}
